@import './icons.scss';
@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  background-color: $theme;
  color: white;

  @media only screen and (max-width: 900px) {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}
