@import './variables.scss';

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.avatar {
  height: 250px;
  border-radius: 50%;
  border: 0.5px white solid;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 1);

  @media only screen and (max-width: 900px) {
    height: 200px;
  }
}

.content {
  max-width: 700px;
  margin-left: 1rem;
  padding: 1rem;
  text-align: justify;
  @media only screen and (max-width: 900px) {
    margin-left: 0;
  }
}

.contributions {
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  height: 50px;

  @media only screen and (max-width: 900px) {
    height: 40px;
  }

  @media only screen and (max-width: 500px) {
    height: 20px;
  }
}

.label {
  position: absolute;
  top: -1.7rem;
  background-color: $theme;
  padding: 0 0.5rem;
  font-weight: 500;
}

.break {
  margin-top: 10rem;
}

.socials {
  margin: 1rem;
  font-size: 1.5rem;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    color: white;
  }
}
